In [8]:
# ===============================
# Future-proof Data Cleaning Script (1 Decimal Precision)
# ===============================

import pandas as pd
import numpy as np
import os

# -------------------------------
# Suppress future fillna warnings
# -------------------------------
pd.set_option('future.no_silent_downcasting', True)

# ===============================
# File paths
# ===============================
raw_file_path = 'C:\\Users\\Brylle\\Desktop\\Jupyter Projects\\Data Cleaning\\Data\\Raw\\retail_store_sales.csv'
clean_file_path = 'C:\\Users\\Brylle\\Desktop\\Jupyter Projects\\Data Cleaning\\Data\\Clean\\retail_store_sales_clean.csv'

# ===============================
# Step 1: Load raw dataset
# ===============================
df = pd.read_csv(raw_file_path)
print("Original Data (first 10 rows):")
print(df.head(10))

# ===============================
# Step 2: Remove duplicate rows
# ===============================
df = df.drop_duplicates(ignore_index=True)

# ===============================
# Step 3: Fill missing values
# ===============================
# Numeric columns: fill NaN with mean (rounded to 1 decimal)
for col in ['Price Per Unit', 'Quantity', 'Total Spent']:
    if col in df.columns:
        df[col] = pd.to_numeric(df[col], errors='coerce')
        mean_val = round(df[col].mean(), 1)
        df[col] = df[col].fillna(mean_val)
        df[col] = df[col].round(1)

# Text columns: fill NaN with 'Unknown'
for col in ['Item', 'Category', 'Payment Method', 'Location']:
    if col in df.columns:
        df[col] = df[col].fillna('Unknown')

# Discount Applied: fill missing with False and convert to bool
if 'Discount Applied' in df.columns:
    df['Discount Applied'] = df['Discount Applied'].fillna(False)
    df['Discount Applied'] = df['Discount Applied'].astype(bool)

# ===============================
# Step 4: Convert column types
# ===============================
if 'Transaction Date' in df.columns:
    df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

# ===============================
# Step 5: Recalculate Total Spent (rounded to 1 decimal)
# ===============================
if 'Price Per Unit' in df.columns and 'Quantity' in df.columns:
    df['Total Spent'] = (df['Price Per Unit'] * df['Quantity']).round(1)

# ===============================
# Step 6: Save cleaned dataset
# ===============================
df.to_csv(clean_file_path, index=False)
print(f"Cleaned dataset saved to {clean_file_path}")

# ===============================
# Step 7: Preview cleaned data
# ===============================
print("Cleaned Data (first 10 rows):")
print(df.head(10))

# ===============================
# Step 8: Optional summary
# ===============================
print("Summary statistics for cleaned dataset:")
display(df.describe(include='all'))

Original Data (first 10 rows):
  Transaction ID Customer ID       Category          Item  Price Per Unit  \
0    TXN_6867343     CUST_09     Patisserie   Item_10_PAT            18.5
1    TXN_3731986     CUST_22  Milk Products  Item_17_MILK            29.0
2    TXN_9303719     CUST_02       Butchers   Item_12_BUT            21.5
3    TXN_9458126     CUST_06      Beverages   Item_16_BEV            27.5
4    TXN_4575373     CUST_05           Food   Item_6_FOOD            12.5
5    TXN_7482416     CUST_09     Patisserie           NaN             NaN
6    TXN_3652209     CUST_07           Food   Item_1_FOOD             5.0
7    TXN_1372952     CUST_21      Furniture           NaN            33.5
8    TXN_9728486     CUST_23      Furniture   Item_16_FUR            27.5
9    TXN_2722661     CUST_25       Butchers   Item_22_BUT            36.5

   Quantity  Total Spent  Payment Method  Location Transaction Date  \
0      10.0        185.0  Digital Wallet    Online       2024-04-08
1       9.0        261.0  Digital Wallet    Online       2023-07-23
2       2.0         43.0     Credit Card    Online       2022-10-05
3       9.0        247.5     Credit Card    Online       2022-05-07
4       7.0         87.5  Digital Wallet    Online       2022-10-02
5      10.0        200.0     Credit Card    Online       2023-11-30
6       8.0         40.0     Credit Card  In-store       2023-06-10
7       NaN          NaN  Digital Wallet  In-store       2024-04-02
8       1.0         27.5     Credit Card  In-store       2023-04-26
9       3.0        109.5            Cash    Online       2024-03-14

  Discount Applied
0             True
1             True
2            False
3              NaN
4            False
5              NaN
6             True
7             True
8            False
9            False
Cleaned dataset saved to C:\Users\Brylle\Desktop\Jupyter Projects\Data Cleaning\Data\Clean\retail_store_sales_clean.csv
Cleaned Data (first 10 rows):
  Transaction ID Customer ID       Category          Item  Price Per Unit  \
0    TXN_6867343     CUST_09     Patisserie   Item_10_PAT            18.5
1    TXN_3731986     CUST_22  Milk Products  Item_17_MILK            29.0
2    TXN_9303719     CUST_02       Butchers   Item_12_BUT            21.5
3    TXN_9458126     CUST_06      Beverages   Item_16_BEV            27.5
4    TXN_4575373     CUST_05           Food   Item_6_FOOD            12.5
5    TXN_7482416     CUST_09     Patisserie       Unknown            23.4
6    TXN_3652209     CUST_07           Food   Item_1_FOOD             5.0
7    TXN_1372952     CUST_21      Furniture       Unknown            33.5
8    TXN_9728486     CUST_23      Furniture   Item_16_FUR            27.5
9    TXN_2722661     CUST_25       Butchers   Item_22_BUT            36.5

   Quantity  Total Spent  Payment Method  Location Transaction Date  \
0      10.0        185.0  Digital Wallet    Online       2024-04-08
1       9.0        261.0  Digital Wallet    Online       2023-07-23
2       2.0         43.0     Credit Card    Online       2022-10-05
3       9.0        247.5     Credit Card    Online       2022-05-07
4       7.0         87.5  Digital Wallet    Online       2022-10-02
5      10.0        234.0     Credit Card    Online       2023-11-30
6       8.0         40.0     Credit Card  In-store       2023-06-10
7       5.5        184.2  Digital Wallet  In-store       2024-04-02
8       1.0         27.5     Credit Card  In-store       2023-04-26
9       3.0        109.5            Cash    Online       2024-03-14

   Discount Applied
0              True
1              True
2             False
3             False
4             False
5             False
6              True
7              True
8             False
9             False
Summary statistics for cleaned dataset:

,Transaction ID,Customer ID,Category,Item,Price Per Unit,Quantity,Total Spent,Payment Method,Location,Transaction Date,Discount Applied
count,12575,12575,12575,12575,12575.000000,12575.000000,12575.000000,12575,12575,12575,12575
unique,12575,25,8,201,NaN,NaN,NaN,3,2,NaN,2
top,TXN_2407494,CUST_05,Electric household essentials,Unknown,NaN,NaN,NaN,Cash,Online,NaN,False
freq,1,544,1591,1213,NaN,NaN,NaN,4310,6354,NaN,8356
mean,NaN,NaN,NaN,NaN,23.367563,5.534632,129.657280,NaN,NaN,2023-07-12 20:23:41.105368064,NaN
min,NaN,NaN,NaN,NaN,5.000000,1.000000,5.000000,NaN,NaN,2022-01-01 00:00:00,NaN
25%,NaN,NaN,NaN,NaN,14.000000,3.000000,52.200000,NaN,NaN,2022-09-30 00:00:00,NaN
50%,NaN,NaN,NaN,NaN,23.400000,5.500000,110.000000,NaN,NaN,2023-07-13 00:00:00,NaN
75%,NaN,NaN,NaN,NaN,32.000000,8.000000,190.000000,NaN,NaN,2024-04-24 00:00:00,NaN
max,NaN,NaN,NaN,NaN,41.000000,10.000000,410.000000,NaN,NaN,2025-01-18 00:00:00,NaN
std,NaN,NaN,NaN,NaN,10.480121,2.788409,92.156619,NaN,NaN,NaN,NaN